:root {
	--main: #fff;
	--inverted: #000;
}
@font-face {
	font-family: GoodTimes;
	src: url(./assets/fonts/good\ times\ rg.otf);
}

/* Main html elems */
html, body {
	background: var(--inverted);
	padding: 0;
	margin: 0;

	height: 100vh;
	width: 100vw;
    font-family: "Poppins", sans-serif;
	overflow: hidden;

}main {
	width: 100%;
	height: 100vh;
	overflow-y: scroll;

	/* Hide scrollbar */
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}main::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}main.scrollsnap {
	scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100%);
	scroll-snap-type: y mandatory;
	scroll-snap-stop: always;
}
.background {
	background: var(--inverted);
}

/* Scrolling section */
section {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	scroll-snap-align: center;
}section.animated {
	animation: intro-section 1s forwards cubic-bezier(0.27, 0.45, 0.55, 0.99);
}section h1 {
	color: var(--inverted);
}

/* Navbar */
nav {
	width: 100%;
	height: 5.5rem;

	display: inline-flex;
	flex-direction: row;
	align-items: center;

	box-sizing: border-box;
	padding: 0 3rem;
	z-index: 5;

	gap: 2rem;
	position: absolute;
	direction: rtl;
	top: 0;
	/* background: #00000048;
	border-bottom: 0.1rem solid #00000019; */
}nav > a.link {
	color: var(--main);
	font-weight: 300;

	text-decoration: none;
	position: relative;
	font-family: "Poppins", sans-serif;

	text-shadow: 0 .1rem 0.5rem rgba(0, 0, 0, 0.5);
}nav > a.link::after {
	content: "";
	height: 0.08rem;
	width: 0%;
	display: block;
	position: absolute;
	background: #fff;
	direction: ltr;

	transform: translateY(-0.3rem);
	transition: 0.1s width ease-in-out;
}nav > a.link:hover::after {
	width: 100%;
}nav > .darkmode-button {
	width: 1.5rem;
	height: 1.5rem;
}

/* Title */
h1.title {
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);

	position: absolute;
	font-size: 10rem;
	z-index: 5;
	font-family: "Bebas Neue", cursive;

	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	user-select: none;
	pointer-events: none;

	color: #fff;
    mix-blend-mode: exclusion;
	filter: brightness(200%);
}h1.title.upward {
	left: 0;
	top: 0;
	width: max-content;
	transform: none;
	position: relative;
	font-size: 15vmin;

	color: #fff;
	mix-blend-mode: normal;
	filter: none;
}p.biography {
	position: relative;
	font-size: 3.4vmin;
	z-index: 5;
	font-family: "Poppins", sans-serif;
	font-weight: 300;

	width: 80%;
	text-align: justify;

	margin: 0;
	padding: 0;

	color: #fff;
}.about-container {
	height: 100vh;
	box-sizing: border-box;
	padding: 5rem 0;
	display: flex;
	flex-direction: column;
		align-items: center;

	overflow-y: scroll;
}.about-container > img {
	object-fit: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;

	filter: blur(5px) brightness(80%);
}

/* Classses */
.scaled-image {
	width: 100vw;
	height: 100vh;

	object-fit: cover;
	padding: 0;
	margin: 0;
}.scaled-image.fixed {
	position: fixed;
	user-select: none;
	pointer-events: none;

	/* For removing weird blur edges */
	transform: scale(1.05);
}

/* Image gallery */
.gallery-container {
	width: 100vw;
	height: 70%;

	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	display: inline-flex;
	gap: 0.5rem;
	flex-direction: row;
	box-sizing: border-box;
	padding: 0.5rem;

	/* Hide scrollbar */
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}.gallery-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}.gallery-container > .images-container {
	height: 100%;
	min-width: max(150vw, 100rem);

	display: grid;
	grid-template-areas:
		"s1 s1 s2 s2 s3 s4 s4 s7"
		"s1 s1 s5 s5 s5 s5 s6 s7";
	gap: 0.5rem;

	/* animation: scroll-by 50s ease-in-out infinite; */
}
@keyframes scroll-by {
	0% { transform: translateX(-100%); }
	50% { transform: translateX(0%); }
	100% { transform: translateX(-100%); }
}

/* Images */
.gallery-container > .images-container > .s1 { grid-area: s1; }
.gallery-container > .images-container > .s2 { grid-area: s2; }
.gallery-container > .images-container > .s3 { grid-area: s3; }
.gallery-container > .images-container > .s4 { grid-area: s4; }
.gallery-container > .images-container > .s5 { grid-area: s5; }
.gallery-container > .images-container > .s6 { grid-area: s6; }
.gallery-container > .images-container > .s7 { grid-area: s7; }
.gallery-container > .images-container > .s {
	width: auto;
	height: auto;

	border-radius: 0.3rem;

	display: flex;
	justify-content: center;
		align-items: center;

	overflow: hidden;
}.gallery-container > .images-container > .s:hover img {
	transform: scale(1.05);
}.gallery-container > .images-container > .s > img {
	width: 100%;
	height: 100%;
	object-fit: cover;

	transition: transform 0.3s ease-in-out;
}
.image-show-background {
	width: 100%;
	height: 100%;
	backdrop-filter: blur(5px);
	opacity: 0;
	background: rgba(0, 0, 0, 0.922);
	position: fixed;

	z-index: 10;
	top: 0;
	left: 0;

	box-sizing: border-box;
	padding: 2rem 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: blur-background-intro 0.25s forwards ease-in-out;
}.image-show-background > .container {
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
		align-items: center;
}.image-show-background > .container > .image-show {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 90%;

	object-fit: contain;
	border-radius: 0.5rem;
	z-index: 2;

	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}.image-show-background > .container > .info {
	width: 100%;
	min-height: 4rem;
	height: 3rem;

	display: inline-flex;
	gap: 4rem;
	flex-direction: row;
	z-index: 10;

	padding: 0.5rem 0;
	position: relative;
}.image-show-background > .container > .info > .bit {
	display: inline-flex;
	flex-direction: row;
	gap: 0.5rem;

	align-items: center;
}.image-show-background > .container > .info > .bit > p:first-of-type {
	color: rgba(153, 153, 153, 0.503);
	user-select: none;

	margin: 0;
	padding: 0;
}.image-show-background > .container > .info > .bit > p:last-of-type {
	color: rgba(221, 221, 221, 0.461);

	margin: 0;
	padding: 0;
}.image-show-background > .container > .close {
	height: 4rem;
	width: 4rem;

	margin: 1rem;
	cursor: pointer;
}.image-show-background > .image-show-blur {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.5rem;
	position: absolute;
	filter: blur(15px) brightness(70%);
	z-index: 1;

	user-select: none;
	pointer-events: none;
}
a.download {
	background: rgb(47, 116, 219);
	display: block;
	border-radius: 0.25rem;

	min-height: 2.5rem;
	width: 100%;

	display: flex;
	justify-content: center;
		align-items: center;

	cursor: pointer;
}a.download:hover {
	background: rgb(48, 108, 199);
}a.download > p {
	color: #fff;
	margin-right: 0.5rem;
}

.chevron-down {
	position: absolute;
	left: 50%;
	bottom: 1rem;
	transform: translateX(-50%);

	cursor: pointer;
	animation: chevron-down 3s infinite ease-in-out;
}

.bottom-text {
	position: absolute;
	bottom: 0;

	width: 100%;
	box-sizing: border-box;
	padding: 0 3vmin;
	color: rgba(0, 0, 0, 0.552);
}

/* Collections */
.collection-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
		align-items: center;

	height: 100%;

	position: relative;
	box-sizing: border-box;
	padding-top: 7rem;

}.collection-section > .collections > .peg-board {
	position: absolute;
	height: 100%;
	width: 100%;

	top: 0;
	left: 0;
	user-select: none;
	pointer-events: none;
}.collections {
	width: 100%;
	height: 100%;
	position: relative;

	/* background: var(--inverted); */

	box-sizing: border-box;
	padding: 4.6vh;

	/* Hide scrollbar */
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}.collections::-webkit-scrollbar {
	display: none;  /* Chrome, Safari, Opera*/
}.collections > .scroller {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: repeat(auto-fit, min-content);

	overflow-y: scroll;
	height: 100%;
	box-sizing: border-box;
	padding: 4.8vmin;
}.collections > .scroller > .area {
	width: 100%;
	height: min-content;

	/* background: blue; */
	display: flex;
	justify-content: center;
		align-items: center;

	/* Hide scrollbar */
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */

	margin-bottom: 4vmin;
	margin-top: 4vmin;
}.collections > .area::-webkit-scrollbar {
	display: none;  /* Chrome, Safari, Opera*/
}
.collections > .a1 { grid-area: a1; }
.collections > .a2 { grid-area: a2; }
.collections > .a3 { grid-area: a3; }
.collections > .a4 { grid-area: a4; }
.collections > .a5 { grid-area: a5; }
.collections > .a6 { grid-area: a6; }
.collections > .a7 { grid-area: a7; }
.collections > .a8 { grid-area: a8; }
.collections > .a9 { grid-area: a9; }

/* Collection images */
.cover-image-container {
	width: 11rem;
	height: 14rem;

	background: #f8f8f8;
	position: relative;

	box-sizing: border-box;
	padding: 0.5rem;
	padding-top: 0;

	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.31);
	transform-origin: center -10%;
	border-radius: 0.2vmin;
}.pin {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-33%) translateY(-140%);
	width: 2rem;
	height: 2rem;

	z-index: 4;
}.cover-image-container > .cover-image {
	width: 100%;
	aspect-ratio: 1;
	overflow: hidden;
}.cover-image-container > .cover-image > img[src] {
	display: block;
	object-fit: cover;
	aspect-ratio: 1;
	width: 100%;
	transition: transform 0.1s ease-in-out;
}.cover-image-container > .cover-image > img {
	object-fit: cover;
	aspect-ratio: 1;
	width: 100%;
	transition: transform 0.1s ease-in-out;

	display: none;
}.cover-image-container:hover {
	animation: rotate-dangle 1s forwards ease-in-out;
}.cover-image-container:hover .cover-image > img {
	transform: scale(1.05);
}.cover-image-container > p {
	font-size: 1rem;
	color: rgb(0, 0, 0);

	padding: 0;
	margin: 0;

	text-decoration: underline 0.1rem black;
}.cover-image-container > p.date {
	font-size: 1.5rem;
	font-weight: 300;
	font-size: 0.6rem;
	color: rgb(146, 146, 146);

	position: absolute;
	right: 1rem;
	bottom: 0.5rem;
	padding: 0;
	margin: 0;
	text-decoration: none;
}.cover-image-container > input[type="text"] {
	font-size: 1.5rem;
	font-weight: 500;
	font-family: "Bebas Neue", cursive;
	color: #000;
	background: none;
	outline: none;
	border: none;

	margin: 0;
}.note-ending {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
}
.uploaded {
	width: 100%;
	height: 100%;
	position: absolute;

	top: 0;
	display: flex;
	justify-content: center;
		align-items: center;

	background: rgb(92, 180, 92);
	transform: scale(1.1);

	user-select: none;
	color: #fff;
}

/* Post */
.post {
	width: 100vw;
	height: 100vh;

	display: inline-flex;
	gap: 1rem;
	justify-content: center;
		align-items: center;

	flex-direction: column;
	box-sizing: border-box;
	padding: 1rem;
}.post > .row {
	display: inline-flex;
	gap: 1rem;
	justify-content: center;
		align-items: center;

	flex-direction: row;
	height: 100%;
	width: 100%;
}.post > .row > a {
	width: 100%;
	height: 100%;
}.post > .row > a > button {
	width: 100%;
	height: 100%;

	font-family: 'Bebas Neue', cursive;
	font-size: 10vmax;
	cursor: pointer;
	background: #fff;

	border: none;
	outline: none;
}.post > .row > a > button:hover {
	background: #ebebeb;
}.post > .row > div.upload {
	background: white;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
		align-items: center;

	font-family: 'Bebas Neue', cursive;
	font-size: 3vmax;
}.row-hover {
	outline: 1rem rgb(41, 109, 212) solid;
}

/* Create */
.create {
	width: 100vw;
	height: 100vh;

	background: #fff;
	display: flex;
	flex-direction: row;
	justify-content: center;
}.create > .column {
	display: inline-flex;
	gap: 1rem;
	flex-direction: column;
	justify-content: center;
		align-items: center;

	width: 25%;
}.create > .column > input[type="text"] {
	width: 100%;

	outline: none;
	border: none;

	font-size: 2rem;
	font-family: 'Bebas Neue', cursive;

	box-sizing: border-box;
	padding: 0.5rem;

	border-bottom: 0.3rem solid rgb(102, 110, 220);

}.create > .column > input[type="text"]:focus {
	border-bottom: 0.3rem solid rgb(102, 110, 220);
}.create > .column > input[type="text"]:focus + .create-button {
	background: rgb(102, 110, 220);
	color: #fff;
}.create > .column > input[type="text"]:focus + .create-button:hover {
	background: rgb(102, 110, 220);
	color: #fff;
}.create > .column > .create-button {
	width: 100%;
	height: 5vmax;

	font-size: 2rem;
	font-family: 'Bebas Neue', cursive;

	background: #fff;
	color: rgb(102, 110, 220);

	border: none;
	outline: none;

	box-sizing: border-box;
	padding: 0.5rem;

	border: 0.3rem solid rgb(102, 110, 220);
}.create > .create-button:hover {
	background: rgb(102, 110, 220);
	color: #fff;
}

/* Create */
.create {
	width: 100vw;
	height: 100vh;

	background: #fff;
	display: flex;
	flex-direction: row;
	justify-content: center;
}.create > .column {
	display: inline-flex;
	gap: 1rem;
	flex-direction: column;
	justify-content: center;
		align-items: center;

	width: 45%;
}.create > .column > input[type="text"] {
	width: 100%;

	outline: none;
	border: none;

	font-size: 2rem;
	font-family: 'Bebas Neue', cursive;

	box-sizing: border-box;
	padding: 0.5rem;

	border-bottom: 0.3rem solid rgb(102, 110, 220);

}.create > .column > input[type="text"]:focus {
	border-bottom: 0.3rem solid rgb(102, 110, 220);
}.create > .column > input[type="text"]:focus + .create-button {
	background: rgb(102, 110, 220);
	color: #fff;
}.create > .column > input[type="text"]:focus + .create-button:hover {
	background: rgb(102, 110, 220);
	color: #fff;
}.create-button {
	width: 100%;

	font-size: 2rem;
	font-family: 'Bebas Neue', cursive;

	background: #fff;
	color: rgb(102, 110, 220);

	border: none;
	outline: none;

	box-sizing: border-box;
	padding: 0.5rem;

	border: 0.3rem solid rgb(102, 110, 220);
}.create-button:hover {
	background: rgb(102, 110, 220);
	color: #fff;
}

/* Add */
.add {
	width: 100vw;
	height: 100vh;

	background: #fff;
	display: inline-flex;
	gap: 3rem;
	flex-direction: column;
	justify-content: center;
		align-items: center;

	overflow-y: scroll;
}.add > .row {
	display: inline-flex;
	gap: 1rem;
	flex-direction: row;
	justify-content: center;
		align-items: center;
	flex-wrap: wrap;

	width: 70%;
}.ontop {
	position: absolute;
	top: 0;
	flex-direction: row !important;
	z-index: 50;
}.add > .row > select {
	width: 100%;

	outline: none;
	border: none;

	font-size: 2rem;
	font-family: 'Bebas Neue', cursive;

	box-sizing: border-box;
	padding: 0.5rem;

	border-bottom: 0.3rem solid rgb(102, 110, 220);

}.add > .row > select:focus {
	border-bottom: 0.3rem solid rgb(102, 110, 220);
}

form > input[type="file"] {
	display: none;
}form > .file-input {
	width: 100%;
	height: min-content;
	font-size: 2rem;
	font-family: 'Bebas Neue', cursive;

	background: #fff;
	color: rgb(102, 110, 220);

	border: none;
	outline: none;

	box-sizing: border-box;
	padding: 0.5rem;

	border: 0.3rem solid rgb(102, 110, 220);
}form > .file-input:hover {
	background: rgb(102, 110, 220);
	color: #fff;
}.add > .create-button:hover {
	background: rgb(102, 110, 220);
	color: #fff;
}.image-upload-form {
	width: 100%;
	height: min-content;
	display: inline-flex;
	flex-direction: row;
	gap: 1rem;
}

/* Images */
.collection-with-images {
	width: 100vw;
	height: 100vh;

	overflow-y: scroll;

	/* Hide scrollbar */
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}.collection-with-images::-webkit-scrollbar {
	display: none;  /* Chrome, Safari, Opera*/
}.collection-with-images > .images {
	box-sizing: border-box;
	padding: 0.5rem;
	line-height:0;
	-webkit-column-count:4; /* split it into 5 columns */
	-webkit-column-gap:0.5rem; /* give it a 0.5rem gap between columns */
	-moz-column-count:4;
	-moz-column-gap:0.5rem;
	column-count:5;
	column-gap:0.5rem;

	justify-content: center;
}.collection-with-images > .images > .image {
	margin-bottom: 0.5rem;
	width: 100% !important;
	height: 100% !important;

	position: relative;
	cursor: pointer;
}.collection-with-images > .images > .image > img {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;

	border-radius: 0.5rem;
}.collection-with-images > .images > .image > .gradient {
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
	z-index: 4;
	border-radius: 0.5rem;

	transition: background-size 0.1s ease-in-out;
	background: linear-gradient(to bottom, #000000c6 0%, #ffffff00 30%, #00000000 70%, #000000c6 100%);
	background-size: 170% 170%;
	background-position: center center;
}.collection-with-images > .images > .image:hover .gradient {
	background-size: 100% 100%;
}.collection-with-images > .images > .image > p.title {
	position: absolute;
	color: #fff;
	top: 0;
	left: 1.5vmin;
	font-size: 3vmin;
	z-index: 5;

	transform: translateY(-3vmin);
	opacity: 0;

	transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
}.collection-with-images > .images > .image:hover .title {
	transform: translateY(0);
	opacity: 1;
}.collection-with-images > .images > .image > p.date {
	position: absolute;
	color: #ffffff72;
	bottom: 0.75vmin;
	right: 1.5vmin;
	font-size: 2vmin;
	font-weight: 300;
	z-index: 5;

	transform: translateY(2vmin);
	opacity: 0;

	transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
}.collection-with-images > .images > .image:hover .date {
	transform: translateY(0);
	opacity: 1;
}

/* Collection navbar */
.collection-navbar {
	width: 100%;
	height: 5vmax;

	display: inline-flex;
	flex-direction: row;
		align-items: center;

	gap: 2vmin;
	box-sizing: border-box;
	padding: 0 2vmin;
	position: relative;
}.collection-navbar > a {
	height: 100%;
	display: flex;
	justify-content: center;
		align-items: center;
}.collection-navbar > a > img.icon {
	height: 60%;
	aspect-ratio: 1;
	cursor: pointer;
}.collection-navbar > h2.title {
	color: #fff;
	margin: 0;
	padding: 0;
}.collection-navbar > h2.collection-size {
	color: #ffffff87;
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-size: 1vmax;

	position: absolute;
	right: 2vmin;
}

.collections-ref-container {
	width: 100%;
	height: 100%;
}

/* Media queries */
@media screen and (max-width: 800px) {
	nav {
		justify-content: center;
	}
	.gallery-container {
		height: 60%;
	}
	.gallery-container > .images-container {
		min-width: max(150vw, 80rem);
	}
}
@media screen and (max-width: 1200px) {
	.image-show-background > .container > .info {
		gap: 1rem;
		justify-content: center;
	}
	.post {
		flex-direction: column;
	}
	.collection-with-images > .images {
		-moz-column-count:    4;
		-webkit-column-count: 4;
		column-count:         4;
	}
}
@media (max-width: 1300px) {
	.collection-with-images > .images {
		-moz-column-count:    3;
		-webkit-column-count: 3;
		column-count:         3;
	}
}
@media (max-width: 800px) {
	.collection-with-images > .images {
		-moz-column-count:    2;
		-webkit-column-count: 2;
		column-count:         2;
	}
}
@media (max-width: 600px) {
	.collection-with-images > .images {
		-moz-column-count:    1;
		-webkit-column-count: 1;
		column-count:         1;

		padding: 0.2rem;
	}
	.collection-with-images > .images > .image {
		margin-bottom: 0.2rem;
	}.collection-with-images > .images > .image > img {
		border-radius: 0;
	}
}
@media screen and (max-width: 1000px) {
	.image-show-background > .container > .info {
		flex-direction: column;
		gap: 0.5rem;
		justify-content: center;
		align-items: center;
		height: min-content;
	}
	.image-show-background {
		padding: 1rem;
	}
}

/* Keyframes */
@keyframes intro-section {
	from {
		transform: translateY(-5rem);
		opacity: 0;
	}
	to {
		transform: translateY(0rem);
		opacity: 1;
	}
}
@keyframes blur-background-intro {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes chevron-down {
	0% {   transform: translateX(-50%) translateY(0rem); }
	50% {  transform: translateX(-50%) translateY(1rem); }
	100% { transform: translateX(-50%) translateY(0rem); }
}

/* Rotation Dangle aniation */
@keyframes rotate-dangle {
	0% { transform: rotate(0deg); }
	10% { transform: rotate(1.875deg); }
	20% { transform: rotate(-1.375deg); }
	30% { transform: rotate(0.875deg); }
	40% { transform: rotate(-0.375deg); }
	50% { transform: rotate(0.125deg); }
	60% { transform: rotate(-0.0625deg); }
	70% { transform: rotate(0deg); }
}